body {
  background-color: #566573;
}
h1 {
  color: #17202A;
  text-align: center;
}
h2 {
  color: #17202A;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
